.projects {
  grid-column: 1 / -1;

  z-index: 1;
  display: grid;
  justify-content: center;
  gap: 4rem 3rem;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: repeat(3, min-content);
}
.heading-component {
  color: var(--col-font-87);
  font-family: var(--font-primary);
  letter-spacing: 0.5rem;
  grid-column: 1 / -1;
}
