.projects {
  grid-column: 1 / -1;

  z-index: 1;
  display: grid;
  justify-content: center;
  gap: 4rem 3rem;
  // grid-template-rows: min-content min-content min-content;
  grid-template-columns: repeat(3, min-content);
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
    justify-items: center;
    gap: 2rem 0rem;
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.projects-heading-box {
  grid-column: 1 / -1;

  .heading {
    color: var(--col-font-87);
    font-family: var(--font-primary);
    letter-spacing: 0.5rem;
  }
  .subheading {
    font-family: var(--font-secondary);
    color: var(--col-font-60);
    font-size: 1.6rem;
    width: 60%;
    margin: 1rem 0;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 1000px) {
    margin-left: 2rem;
  }
  @media screen and (max-width: 750px) {
    text-align: center;
    margin-left: 0rem;
  }
}
