.project {
  height: auto;
  width: 30rem;
  min-height: 61rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: var(--col-font);
  background-color: var(--col-3dp);
  overflow: hidden;
  border-radius: 5px;
  transition: 0.2s;
  box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 1000px) {
    width: 90%;
  }
  @media screen and (max-width: 600px) {
    width: 66%;
  }
  @media screen and (max-width: 500px) {
    width: 75%;
  }
  @media screen and (max-width: 450px) {
    width: 80%;
  }
  @media screen and (max-width: 400px) {
    width: 94%;
  }
  &:hover {
    // transform: scale(1.05);
    background-color: var(--col-8dp);
  }
  margin-bottom: 1rem;
  .project-image {
    background-position: center;
    background-size: cover;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    .project-name {
      font-size: 3.5rem;
      color: var(--col-font-87);
      font-family: var(--font-primary);

      // color: var(--color-primary);
      width: 100%;
      // text-align: center;
      // text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 0.2rem;
      padding: 0rem 1rem;
      text-shadow: -0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.15);
    }
  }
  .project-details {
    height: auto;
    min-height: 36rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem 1.2rem;
    letter-spacing: 0.2rem;
    .project-description {
      color: var(--col-font-60);
      margin-bottom: 3rem;
      // height: 7rem;
      padding: 0 1rem;
    }

    .project-tech {
      margin-bottom: 3rem;
      .tech-list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        .tech-logo {
          .logo {
            height: auto;
            width: 2.8rem;
            fill: var(--col-font-60);
          }
        }
      }
    }
    .project-apis {
      margin-bottom: 3.5rem;
      .apis-list {
        padding: 0 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        // justify-items: center;
        list-style: none;
        color: var(--col-font-60);

        .api {
          margin-left: 1rem;
        }
      }
    }
    .project-links {
      margin: 0rem 1rem;
      font-family: var(--font-primary);

      display: flex;
      justify-content: space-between;
      font-size: 1.7rem;
      text-transform: uppercase;
      height: 100%;
      align-items: flex-end;
      justify-self: flex-end;
      flex-grow: 1;

      .project-link {
        .project-git {
          margin-right: 0.5rem;
          transform: translateY(1px);
        }

        &:link,
        &:visited {
          text-decoration: none;
          color: var(--col-font-87);
        }
        &:hover {
          color: var(--color-primary);
        }
        &:active {
          // color: var(--col-font);
        }
      }
      .git-link {
      }
      .web-link {
      }
    }
  }
}
.category {
  margin: 0.5rem 1rem 1.5rem 1rem;
  font-size: 1.7rem;
  color: var(--col-font-87);
  font-family: var(--font-primary);
  border-top: solid 1px var(--col-font-10);
  padding-top: 1rem;
  letter-spacing: 0.2rem;
}
