.nav {
  &__link,
  &__link:link,
  &__link:visited {
    cursor: pointer;

    color: var(--col-font-60);
  }
  &__link:hover {
    color: var(--col-font-87);
    background-color: var(--col-1dp);
    box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  &__link:active {
    color: var(--col-font);
    background-color: var(--col-3dp);
  }

  &__link {
    font-family: var(--font-secondary);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    padding: 5px 10px;
    border-radius: 2px;
    transition: 0.1s;
    justify-self: center;
  }
}

.sun-moon-icon:hover {
  transform: scale(1.05);
}
