.contact {
  z-index: 5;
  margin-top: 4.5rem;

  .pdf-box {
    box-shadow: var(--cv-shadow);
    border-radius: 5px;
    overflow: hidden;
    filter: var(--cv-filter);
    .pdf-page {
      // overflow: hidden;
    }
  }
}
