//Color variables

$color-pink: #e98a98;
$color-primary: #a9d0fd;
$color-primary-dark: #c18d33;
$color-primary-light: #ecc582;

$color-blue-light: #a9d0fd;
// $color-grey-light: #f107b3;
$color-grey-light: #e7e4e3;

$color-secondary: #262b2b;
$color-secondary-light: #5f787b;
$color-secondary-dark: #0d1011;

//Dark theme:
$col-base: #121212;
$col-base-60: rgba(18, 18, 18, 0.6);
$col-0dp: rgba(255, 255, 255, 0);
$col-1dp: rgba(255, 255, 255, 0.05);
$col-2dp: rgba(255, 255, 255, 0.07);
$col-3dp: rgba(255, 255, 255, 0.08);
$col-4dp: rgba(255, 255, 255, 0.09);
$col-6dp: rgba(255, 255, 255, 0.11);
$col-8dp: rgba(255, 255, 255, 0.12);
$col-12dp: rgba(255, 255, 255, 0.14);
$col-16dp: rgba(255, 255, 255, 0.15);
$col-24dp: rgba(255, 255, 255, 0.16);
$col-32dp: rgba(255, 255, 255, 0.24);

// Whites
$col-white: rgba(255, 255, 255, 1); //
$col-white-87: rgba(255, 255, 255, 0.87); // Hight emphasis
$col-white-60: rgba(255, 255, 255, 0.6); // Low emphasis
$col-white-38: rgba(255, 255, 255, 0.38); // Disabled

//fonts
$font-primary: "Bebas Neue", sans-serif;
$font-secondary: "Montserrat", sans-serif;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Montserrat', sans-serif;

// Other variables
$navSize: 5;
:root {
  nav-size: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // <-setting 1 rem = 10px,
}
body {
  font-size: 3.5rem;
  // background-color: $col-base;
  background-image: linear-gradient(
      rgba(18, 18, 18, 0.6),
      rgba(18, 18, 18, 0.6)
    ),
    url(./img/hero-black.jpg);
  font-family: $font-secondary;
}

// Page Layout

// home Layout
.container {
  display: grid;
  // grid-template-columns: 12rem 1fr;
  grid-template-rows: 15vh 70vh 15vh;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
}

.heading-1 {
  letter-spacing: 2rem;
  font-family: $font-primary;
  color: $col-white;
  line-height: 90%;
  text-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.55);
}
.heading-2 {
  color: $col-white-87;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
  text-shadow: -.3rem .3rem .3rem rgba(0, 0, 0, 0.55);
}
