//Color variables

:root {
  --color-primary: #aad1fd;
  --color-blue-light: #7dcbff;

  --footer-bg: rgba(18, 18, 18, 0.8);

  // --react-icon-col: rgba(245, 0, 0, 0.959);
  --react-icon-col: rgba(0, 0, 0, 0.25);

  //Dark theme:
  --col-base: #121212;
  --col-base-60: rgba(18, 18, 18, 0.6);
  --col-0dp: rgba(255, 255, 255, 0);
  --col-1dp: rgba(255, 255, 255, 0.05);
  --col-2dp: rgba(255, 255, 255, 0.07);
  --col-3dp: rgba(255, 255, 255, 0.08);
  --col-4dp: rgba(255, 255, 255, 0.09);
  --col-6dp: rgba(255, 255, 255, 0.11);
  --col-8dp: rgba(255, 255, 255, 0.12);
  --col-12dp: rgba(255, 255, 255, 0.14);
  --col-16dp: rgba(255, 255, 255, 0.15);
  --col-24dp: rgba(255, 255, 255, 0.16);
  --col-32dp: rgba(255, 255, 255, 0.24);

  // Whites
  --col-font: rgba(255, 255, 255, 1); //
  --col-font-87: rgba(255, 255, 255, 0.87); // Hight emphasis
  --col-font-60: rgba(255, 255, 255, 0.6); // Low emphasis

  --col-font-38: rgba(255, 255, 255, 0.38); // Disabled
  --col-font-10: rgba(255, 255, 255, 0.1); // Disabled

  // Gradients
  --card-gradient: linear-gradient(
    to top,
    rgb(34, 34, 34),
    rgba(34, 34, 34, 0.1)
  );

  // Shadows
  --heading-1-shdw: -1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  --heading-2-shdw: -0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.55);

  //fonts
  --font-primary: "Bebas Neue", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  // font-family: 'Bebas Neue', cursive;
  // font-family: 'Montserrat', sans-serif;

  --nav-size: 3;

  // CV
  --cv-filter: opacity(0.5);

  --cv-shadow: -0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.2);
}

// Light theme variables
:root[data-theme="light"] {
  //Colors
  --color-primary: #e98a98;

  --footer-bg: rgba(255, 255, 255, 0.6);

  --col-font: rgb(46, 46, 46);
  --col-font-87: rgba(41, 41, 41, 0.87); // Hight emphasis
  --col-font-60: rgba(41, 41, 41, 0.6); // Low emphasis
  --col-font-38: rgba(41, 41, 41, 0.38);
  --col-font-10: rgba(41, 41, 41, 0.1);

  --col-1dp: rgba(255, 255, 255, 0.3);
  --col-3dp: rgba(255, 255, 255, 0.37);
  --col-8dp: rgba(255, 255, 255, 0.549);

  --react-icon-col: rgba(255, 255, 255, 0.3);

  --card-gradient: linear-gradient(
    to top,
    rgb(235, 235, 235),
    rgba(255, 255, 255, 0)
  );

  //Shadows
  --heading-1-shdw: -0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  --heading-2-shdw: -0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.15);

  // CV
  --cv-filter: opacity(0.5);
  --cv-shadow: -0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.241);
  --spinner-filter: invert(0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // <-setting 1 rem = 10px,
}
body {
  font-size: 3.5rem;
  font-family: var(--font-secondary);

  // background-color: $col-base;
}

a:link,
a:visited {
  text-decoration: none;
  list-style: none;
}

// Page Layout

// home Layout
.container {
  display: grid;
  // grid-template-columns: 12rem 1fr;
  grid-template-rows: 15vh min-content 15vh;
  grid-template-columns: 1fr;
  justify-items: center;

  font-family: var(--font-secondary);
  @media screen and (max-width: 600px) {
    grid-template-rows: min-content min-content 15vh;
  }
}

.heading-1 {
  letter-spacing: 2rem;
  font-family: var(--font-primary);
  padding: 1rem 0;
  color: var(--color-primary);
  line-height: 90%;
  text-shadow: var(--heading-1-shdw);
  @media screen and (max-width: 600px) {
    font-size: 4.5rem;
  }
}
.heading-2 {
  color: var(--col-font-87);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
  text-shadow: var(--heading-2-shdw);
  @media screen and (max-width: 600px) {
    font-size: 2rem; // <-setting 1 rem = 10px,
  }
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
