.header {
  grid-column: 2 /8;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  // margin: 10vh 0;
  // width: 60vw;
  background-color: $color-grey-light;
  // background-size: cover;
  padding-bottom: 15rem;
}

.heading-container {
  grid-column: 2 / -1;
  grid-row: 11/ 13;
  display: grid;
  align-items: center;
  justify-items: center;
}
.header-background {
  grid-column: 3 / -3;
  grid-row: 2/ -2;
  background-image: url(./../img/profile.png);
  background-size: cover;
  background-position: bottom;
  //
}
